{
	"ignoreFiles": [
		"**/*.css",
		"**/*.js"
	],
	"plugins": [
		"stylelint-order"
	],
	"rules": {
		"block-closing-brace-newline-before": "always",
		"block-no-empty": true,
		"block-opening-brace-space-before": "always",
		"block-opening-brace-newline-after": "always",
		"color-named": "never",
		"color-no-invalid-hex": true,
		"declaration-block-semicolon-newline-after": "always",
		"declaration-block-single-line-max-declarations": 1,
		"declaration-block-trailing-semicolon": "always",
		"declaration-colon-space-after": "always",
		"declaration-colon-space-before": "never",
		"declaration-no-important": true,
		"function-parentheses-space-inside": "never",
		"function-url-quotes": "always",
		"indentation": "tab",
		"length-zero-no-unit": true,
		"max-empty-lines": 1,
		"max-nesting-depth": 5,
		"no-eol-whitespace": true,
		"no-missing-end-of-source-newline": true,
		"number-leading-zero": "always",
		"number-no-trailing-zeros": true,
		"order/order": [
			"at-variables",
			"less-mixins",
			"declarations",
			"rules"
		],
		"order/properties-order": [
			"box-sizing",
			"position",
			"z-index",
			"top",
			"right",
			"bottom",
			"left",
			"display",
			"flex",
			"flex-basis",
			"flex-direction",
			"flex-flow",
			"flex-grow",
			"flex-shrink",
			"flex-wrap",
			"align-content",
			"align-items",
			"align-self",
			"justify-content",
			"order",
			"float",
			"clear",
			"vertical-align",
			"width",
			"min-width",
			"max-width",
			"height",
			"min-height",
			"max-height",
			"margin",
			"margin-top",
			"margin-right",
			"margin-bottom",
			"margin-left",
			"margin-collapse",
			"margin-top-collapse",
			"margin-right-collapse",
			"margin-bottom-collapse",
			"margin-left-collapse",
			"padding",
			"padding-top",
			"padding-right",
			"padding-bottom",
			"padding-left",
			"overflow",
			"overflow-x",
			"overflow-y",
			"resize",
			"clip",
			"clip-path",
			"grid",
			"grid-area",
			"grid-template",
			"grid-template-areas",
			"grid-template-rows",
			"grid-template-columns",
			"grid-column",
			"grid-column-start",
			"grid-column-end",
			"grid-row",
			"grid-row-start",
			"grid-row-end",
			"grid-auto-rows",
			"grid-auto-columns",
			"grid-auto-flow",
			"grid-gap",
			"grid-row-gap",
			"grid-column-gap",
			"columns",
			"column-gap",
			"column-fill",
			"column-rule",
			"column-rule-width",
			"column-rule-style",
			"column-rule-color",
			"column-span",
			"column-count",
			"column-width",
			"backface-visibility",
			"perspective",
			"perspective-origin",
			"transform",
			"transform-origin",
			"transform-style",
			"visibility",
			"opacity",
			"outline",
			"outline-offset",
			"outline-width",
			"outline-style",
			"outline-color",
			"border",
			"border-top",
			"border-right",
			"border-bottom",
			"border-left",
			"border-width",
			"border-top-width",
			"border-right-width",
			"border-bottom-width",
			"border-left-width",
			"border-style",
			"border-top-style",
			"border-right-style",
			"border-bottom-style",
			"border-left-style",
			"border-radius",
			"border-top-left-radius",
			"border-top-right-radius",
			"border-bottom-left-radius",
			"border-bottom-right-radius",
			"border-color",
			"border-top-color",
			"border-right-color",
			"border-bottom-color",
			"border-left-color",
			"border-image",
			"border-image-source",
			"border-image-width",
			"border-image-outset",
			"border-image-repeat",
			"border-image-slice",
			"box-shadow",
			"background",
			"background-attachment",
			"background-clip",
			"background-color",
			"background-image",
			"background-repeat",
			"background-position",
			"background-size",
			"list-style",
			"list-style-type",
			"list-style-position",
			"list-style-image",
			"caption-side",
			"table-layout",
			"border-collapse",
			"border-spacing",
			"empty-cells",
			"color",
			"font",
			"font-family",
			"font-size",
			"font-size-adjust",
			"osx-font-smoothing",
			"font-smoothing",
			"font-stretch",
			"font-style",
			"font-variant",
			"font-weight",
			"letter-spacing",
			"line-height",
			"white-space",
			"word-break",
			"word-spacing",
			"word-wrap",
			"direction",
			"tab-size",
			"text-align",
			"text-align-last",
			"text-justify",
			"text-indent",
			"text-transform",
			"text-decoration",
			"text-decoration-color",
			"text-decoration-line",
			"text-decoration-style",
			"text-rendering",
			"text-shadow",
			"text-overflow",
			"content",
			"quotes",
			"counter-reset",
			"counter-increment",
			"page-break-before",
			"page-break-after",
			"page-break-inside",
			"cursor",
			"animation",
			"animation-name",
			"animation-duration",
			"animation-timing-function",
			"animation-delay",
			"animation-iteration-count",
			"animation-direction",
			"animation-fill-mode",
			"animation-play-state",
			"transition",
			"transition-delay",
			"transition-duration",
			"transition-property",
			"transition-timing-function"
		],
		"property-no-unknown": [
			true,
			{ "ignoreProperties": [ "font-icon" ]}
		],
		"rule-empty-line-before": [
			"always",
			{ "except": ["first-nested"] },
			{ "ignore": ["after-comment"] },
			{ "fix": true }
		],
		"selector-list-comma-newline-after": "always",
		"selector-max-id": 0,
		"selector-max-universal": 2,
		"selector-no-qualifying-type": [
			true,
			{ "ignore": ["attribute"] }
		],
		"selector-pseudo-element-colon-notation": "double",
		"selector-type-case": "lower",
		"shorthand-property-no-redundant-values": true,
		"string-quotes": "single"
	}
}
