.footer-menu {
	display: flex;
	flex-direction: column;

	.menu-item {
		margin-top: 0;
		margin-bottom: 0;
		padding-left: 0;
	}

	.sub-menu {
		display: flex;
		flex-direction: column;
		margin-bottom: var(--wp--custom--gutter-width--column);

		a {
			font-size: var(--wp--preset--font-size--small);
		}
	}

	@include respond-to('navigation') {
		display: grid;
		grid-template-columns: repeat(auto-fit, 1fr);
		grid-auto-flow: column;
		grid-column-gap: var(--wp--custom--gutter-width--column);
	}
}
