/*   Buttons
	--------------------------------------------------------------------------  */

@mixin button {
	--color: var(--wp--custom--colors--button);
	--bg-color: var(--wp--custom--colors--button-bg);

	--padding-top: 16px;
	--padding-side: 1rem;
	--padding-bottom: 16px;

	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: var(--padding-top) var(--padding-side) var(--padding-bottom);
	border: solid 2px transparent;
	background-color: var(--bg-color);
	color: var(--color);
	font-size: var(--wp--preset--font-size--small);
	font-weight: bold;
	line-height: 1.1;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.16s ease-in-out;
}

@mixin large-button {
	--padding-top: 0.8125rem;
	--padding-bottom: 0.8125rem;
	--padding-side: 2rem;

	font-size: var(--wp--preset--font-size--medium);
}
