.wp-block-search__input {
	padding: 12px 16px;
	border: none;
	background-color: var(--wp--custom--colors--body-bg);
	font-size: 16px;
	letter-spacing: 0.1px;
	line-height: math.div(24,16);
}

.wp-block-search__icon-button {
	.wp-block-search__inside-wrapper {
		display: flex;
		flex-direction: row-reverse;
	}

	.wp-block-search__button {
		justify-content: center;
		width: initial;
		min-width: 48px;
		height: auto;
		margin-left: 0;
		padding: 0;
		transform: scaleX(-1);
		background-color: transparent;
		aspect-ratio: 1;

		svg {
			color: var(--wp--custom--colors--button-bg);
		}
	}

}

.wp-block-search__text-button {
	.wp-block-search__button {
		border-radius: 4px;
		background-color: var(--wp--custom--colors--button-bg);
		font-weight: bold;
		transition: all 0.16s ease-in-out;
		will-change: background-color;

		&:hover {
			background-color: var(--wp--custom--colors--button-bg-hover);
		}
	}
}

.wp-block-search__button-inside {
	.wp-block-search__inside-wrapper {
		border: none;
		background-color: var(--wp--custom--colors--body-bg);
	}
}
