@use 'sass:math';

.checklist {
	position: relative;

	&::before {
		position: absolute;
		top: 3px;
		left: -25px;
		width: 16px;
		height: 16px;
		background-image: url('../images/tick.png'); /* Adjust the path as necessary */
		content: '';
	}
}

.button-design a {
	position: relative;
	padding: 16px 56px 16px 16px;

	&::after {
		position: absolute;
		top: 7px;
		right: 25px;
		width: 25px;
		height: 20px;
		background-image: url('../images/arrow.png'); /* Default background image */
		content: '';
	}

	&:hover {
		&::after {
			top: 9px; // Adjust position on hover
			transform: rotate(45deg); // Change image on hover
		}
	}
}

.para-hover-column {
	padding-bottom: 20px;
	border-bottom: 2px solid #EBEBEB;

	&:hover {
		border-bottom: 2px solid #FF6B02;
	}
}

.img-padding {
	padding: 30px;
	border-radius: 5px;
	box-shadow: 0 0 22px 0 #0000000D;
	text-align: center;
}

.eyebrow-border {
	position: relative;
	padding-left: 25px;

	&::before {
		position: absolute;
		top: 7px;
		left: -10px;
		width: 25px;
		height: 2px;
		border: 2px solid #052A3B;
		content: '';
	}
}

.eyebrow-border-about {
	position: relative;
	padding-left: 25px;

	&::before {
		position: absolute;
		top: 7px;
		left: -10px;
		width: 25px;
		height: 2px;
		border: 2px solid;
		content: '';
	}
}

.eyebrow-border-form {
	position: relative;
	padding-left: 35px;

	&::before {
		position: absolute;
		top: 7px;
		left: 0;
		width: 25px;
		height: 2px;
		border: 2px solid #052A3B;
		content: '';
	}
}

.header-block {
	margin: 0 auto;
}

.header-button-design {
	padding-left: 30px;
}

.header-button-design a {
	position: relative;
	padding: 11px 43px 11px 17px;

	&::after {
		position: absolute;
		top: 3px;
		right: 16px;
		width: 25px;
		height: 20px;
		background-image: url('../images/arrow.png');
		content: '';
	}

	&:hover {
		&::after {
			top: 4px; // Adjust position on hover
			transform: rotate(45deg);
		}
	}
}

.utility-p {
	position: relative;

	&::before {
		position: absolute;
		top: 4px;
		right: 14%;
		width: 15px;
		height: 14px;
		background-image: url('../images/maillogo.png');
		content: '';
	}
}

.utility-p a {
	color: #FFFF;
	text-decoration: none;
}

.navigation-row {
	gap: 20px;
	align-items: baseline;
}

.forminator-button-submit {
	position: relative;
	padding: 16px 56px 16px 16px;
	border-radius: 5px;
	background: #FF6B02;

	&::after {
		position: absolute;
		top: 10px;
		right: 20px;
		width: 25px;
		height: 20px;
		background-image: url('../images/arrow.png'); /* Default background image */
		content: '';
	}

	&:hover::after {
		top: 15px;
		transform: rotate(45deg);
	}
}

.forminator-edit-module {
	display: none;
}

.forminator-ui.forminator-custom-form[data-design=default] .forminator-field {
	text-align: center;
}

.header-logo {
	position: relative;
	bottom: 52px;
}

.banner-para {
	font-size: 18px;
	font-weight: 600;
}

.banner-button a {
	position: relative;
	padding: 16px 56px 16px 16px;

	&::after {
		position: absolute;
		top: 7px;
		right: 20px;
		width: 25px;
		height: 20px;
		background-image: url('../images/arrow.png'); /* Default background image */
		content: '';
	}

	&:hover {
		&::after {
			top: 9px;
			transform: rotate(45deg);// Adjust position on hover
		}
	}
}

.banner-section {
	position: relative;
	bottom: 90px;
}

.about-position {
	position: relative;
	left: 35%;
}

.service-postion {
	position: relative;
	right: 65%;
}

.why-us-column {
	padding-left: 20px;
	border-left: 1px solid #EBEBEB;

	&:hover {
		border-left: 1px solid #FF6B02;
	}
}

.nav-row li:hover {
	color: #FF6B02;
}

.para-content,
.paras-content {
	border-bottom: 1px dashed #ADAFAE;
}

.payroll,
.hiddenDiv {
	display: none;
}

.showDivLink:hover {
	color: #FF6B02;
	cursor: pointer;
}

.software-link {
	position: relative;
	cursor: pointer;

	&::after {
		position: absolute;
		top: 2px;
		width: 25px;
		height: 20px;
		background-image: url('../images/orangearrow.png');
		background-repeat: no-repeat;
		background-position: center;
		content: '';
	}

	&:hover {
		&::after {
			top: 1px; // Adjust position on hover
			transform: rotate(45deg);
		}
	}
}

.home-posts {
	display: grid;
	width: 70%;
	margin: 0 auto;
	margin-top: var(--wp--preset--spacing--70);
	padding: 0 16px;
	grid-template-columns: 30% 30% 30%;
	grid-gap: 10px;
}

.blog-post-card h4,
.review-post-card h5,
p {
	margin-top: 0;
	margin-bottom: 10px;
}

.post-hover,
.post-hovers,
.wp-block-post-title a,
a:where(:not(.wp-element-button)) {
	text-decoration: none;
	cursor: pointer;
}

.post-hover:hover,
.post-hovers:hover,
.wp-block-post-title a:where(:not(.wp-element-button)):hover,
.wp-block-post-terms a:where(:not(.wp-element-button)):hover,
.wp-block-navigation a:where(:not(.wp-element-button)):hover {
	text-decoration: none;
}

.cta-para,
.wp-block-post-excerpt__more-link {
	position: relative;
	color: #FF6B02;
	text-decoration: none;

	&::after {
		position: absolute;
		top: 2px;
		width: 25px;
		height: 20px;
		background-image: url('../images/orangearrow.png');
		background-repeat: no-repeat;
		background-position: center;
		content: '';
	}

	&:hover {
		&::after {
			top: 1px; // Adjust position on hover
			transform: rotate(45deg);
		}
	}
}

.post-hover {
	position: relative;

	&::after {
		position: absolute;
		bottom: 96%;
		left: 0;
		width: 83px;
		height: 66px;
		background: #052A3B;
		background-image: url('images/feature-div-image.png');
		background-repeat: no-repeat;
		background-position: center;
		content: '';
	}
}

.card-hover {
	position: relative;

	&::after {
		position: absolute;
		bottom: 0%;
		left: 0;
		width: 83px;
		height: 66px;
		background: #052A3B;
		background-image: url('images/feature-div-image.png');
		background-repeat: no-repeat;
		background-position: center;
		content: '';
	}
}

.cta-category {
	position: relative;
	bottom: 15px;
	width: 83px;
	height: 37px;
	margin: 0;
	padding: 10px;
	background: #393939;
	color: #FFFF;
	text-align: center;
}

.current-menu-item {
	color: #FF6B02;
}

.review-post-card {
	position: relative;
	width: 50%;
	padding: 40px;
	border-radius: 10px;
	box-shadow: 0 0 5px 2px #0000000D;
	background: #FFFFFF;

	&::after {
		position: absolute;
		top: -12%;
		right: 5%;
		width: 72px;
		height: 72px;
		background-image: url('images/swiper-up.png');
		background-repeat: no-repeat;
		background-position: center;
		content: '';
	}
}

.wp-block-categories {
	position: relative;
	padding-left: 20px;

	&::before {
		position: absolute;
		top: 30%;
		left: 0;
		width: 30px;
		height: 17px;
		background-image: url('images/categoriesimage.png');
		background-repeat: no-repeat;
		background-position: right;
		background-size: cover;
		content: '';
	}
}

.home-post-card h3 {
	color: #FFFFFF;
	font-size: 35px;
}

.home-content {
	color: #FFFFFF;
}

.wp-block-query-pagination-numbers {
	border-radius: 32px;
}

.pagination-space {
	justify-content: space-between;
}

.close-icon {
	position: relative;

	&::after {
		position: absolute;
		top: 0;
		right: 5%;
		width: 24px;
		height: 24px;
		background-image: url('images/down.png');
		content: '';
	}
}

.show-icon {
	position: relative;

	&::after {
		position: absolute;
		top: 0;
		right: 5%;
		width: 24px;
		height: 24px;
		background-image: url('images/up.png');
		content: '';
	}
}

.pagination-space {
	.current {
		width: 32px;
		height: 32px;
		padding: 10px;
		border-radius: 32px;
		background: #FF6B02 ;
		color: #FFFFFF;
		cursor: pointer;

	}

}

.page-numbers {
	width: 32px;
	height: 32px;
	padding: 10px;
	border-radius: 32px;
	background: #F1F1F1 ;
	color: #333333;
	cursor: pointer;
}

.wp-block-query-pagination-numbers {
	display: flex;
	align-items: center;
	gap: 10px;
}

.swiper {
	.swiper-button-prev {
		position: relative;
		left: 45%;
		background-color: #C4C4C4;
	}

	.swiper-button-next {
		position: relative;
		bottom: 24px;
		left: 53%;
		background-color: #FF6B02;
	}
}

.wp-block-post-template li {
	border-radius: 10px;
	box-shadow: 0 0 5px 2px #0000000D;
	transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.wp-block-post-template li:hover {
	box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1);
}

.wp-block-column-is-layout-flow {
	padding: 20px;
}

.whatsapp-icon {
	position: fixed;
	right: 5%;
	bottom: 0%;
}

.wp-block-vital-swiper .swiper-button-next::after,
.wp-block-vital-swiper .swiper-button-prev::after {
	width: var(--swiper-navigation-size);
	height: var(--swiper-navigation-size);
	transform: rotate(90deg);
	transform-origin: center;
	background-image: url('images/swiperarrow.png');
	background-repeat: no-repeat;
	background-position: 50%;
	content: '';

}

@media only screen and (max-width:1024px) {
	.wp-block-navigation__responsive-container-open:not(.always-shown) {
		display: block;
	}

	.nav-row ul {
		display: none;
	}

	.header-button-design {
		margin-top: 30px;
		padding: 0;
	}

	.utility-p {
		margin-top: 25px;
	}

	.utility-p a {
		margin-top: 20px;
		padding: 10px 25px;
		border-radius: 12px;
		background: #333333;
		color: #FFFF;
	}

	.utility-p::before {
		right: 90%;
	}
}

@media only screen and (max-width: 780px) {
	.about-position {
		position: relative;
		left: 0%;
		min-width: 100%;
	}

	.column-img {
		width: 65px;
	}

	.about-group {
		padding: 50px;
	}

	.service-column {
		margin-top: auto;
	}

	.service-postion {
		position: relative;
		right: 0;
		min-width: 100%;
	}

	.home-posts {
		grid-template-columns: none;
	}

	.swiper {
		.swiper-button-prev {
			display: none;
		}

		.swiper-button-next {
			display: none;
		}
	}

	.whatsapp-icon {
		position: static;
	}
}
@media only screen and (max-width: 425px) {
	.wp-container-core-group-is-layout-10.wp-container-core-group-is-layout-10 {
		justify-content: center;
	}

}
