<div class="blog-post-card">
    <a class = "post-hover" href="{{href}}">
    {{{image}}}
    <p class="cta-category">{{catgeory}}</p>
    <h4>{{title}}</h4>
    <p>{{content}}</p>
    {{#cta}}
    <p class="cta-para">{{cta}}</p>
    {{/cta}}
    </a>
</div>
